/*center charts*/
td, th {
  vertical-align: middle !important;
  text-align: center !important;
}
/*
spacing between the charts and search bar*/
.input-group {
  margin:20px 0px;
}

svg {
  height:150px;
}

.title {
   text-align: center;
 }

/*find the first td of the first row and find the child row*/
td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
